/*************** AboutMe - CSS ***************/

.AboutMe {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/SectionBackground.jpg');
}

.about-me-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



/*** Profile Image ***/
.profile-img {
	width: 25rem;
	/* border-radius: 50%; */
	padding: 0.2rem;
	border: 3px solid var(--primary-orange);
}
  
.profile-img-section {
	text-align: center;
}



.about-me-heading {
	text-transform: uppercase;
	color: var(--primary-orange);
}

.name {
	text-decoration: underline solid #f9ab00;
}

.about-me-main {
	color: #fff;
	text-align: center;
}

.about-me-sub {
	color: #fff;
}


  
@media(max-width: 768px) {
	.profile-img {
	  width: 10rem;
	}
  
	.about-me-heading {
	  padding-top: 25px;
	}
  
	.about-me-heading, .about-me-sub {
	  padding-left: 1rem;
	  padding-right: 1rem;
	  text-align: center;
	}
}
