/**************** 2 - INTRO **************/
.intro-wrapper {
	position: relative;
	background: url(../Images/MainBackground.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
}

.intro-info {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 2;
}


/**************** 2.1 - INTRO HEADING **************/
.intro-info h1 {
	color: #f9ab00;
	text-transform: uppercase;
}



/**************** Areas Of Interest **************/
.areas-of-interest {
	font-size: 2rem;
	color: var(--primary-white);
	padding-bottom: 3rem;
}


/**************** Resume **************/
.intro-info .my-resume {
	text-decoration: underline;
	text-transform: uppercase;
	color: var(--primary-white);
	font-size: x-large;
}



/**************** Contact Me **************/
.intro-contact-me {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--primary-white);

	border: 2px solid var(--primary-red);
	border-radius: 0;
	padding: 0.625rem 0.75rem 0.75rem 0.75rem;
	margin: 2rem;
}

.intro-contact-me:hover {
	text-decoration: none;
	background-color: var(--primary-red);
	color: var(--primary-white);
	transition: .2s ease-in-out;
}

@media(max-width: 768px) {
	.intro-info h1 {
		font-size: 1.7rem !important;
	}
	.areas-of-interest {
		font-size: 1.3rem !important;
	}
}