/********************** Skills - CSS **********************/

.Skills {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Images/SectionBackground.jpg');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.skills-image-container img {
	overflow: hidden;
	background-color: #fff;
	width: 12rem;
	height: 6rem;
}





/* Programming Section */
.programming, .databases, .frameworks, .web-technologies, .other-technologies {
    color: #fff;
}

.programming-skills, .databases-skills, .frameworks-skills, .web-technologies-skills, .other-technologies-skills {
	display: flex;
	flex-direction: row;
}



@media(max-width: 768px) {
	.skills-image-container img {
		background-color: #fff;
		width: 8rem;
		height: 4rem;
	}

	.programming-skills, .databases-skills, .frameworks-skills, .web-technologies-skills, .other-technologies-skills {
		flex-direction: column;
	}
}