@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primarty-dark: rgba(255, 255, 255, 0);

  --primary-red: red;
  --prmary-orange: #f9ab00;
}


body{
  font-family: 'Roboto Condensed', sans-serif;
}


/**************** NAVIGATION BAR **************/
/* Add Logo (if necessary) */


/*********** MENU LINKS ***********/
nav a.nav-link {
  font-weight: 100;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.125rem solid var(--primarty-dark) !important;
}

a.navbar-brand {
  font-weight: bold;
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
  color: var(--primary-white) !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.125rem solid var(--prmary-orange) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.125rem solid var(--prmary-orange) !important;
}