@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primarty-dark: rgba(255, 255, 255, 0);

  --primary-orange: #f9ab00;

  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body {
  font-family: 'Roboto Condensed', sans-serif !important ;
}

.section-heading {
  padding-top: 3rem;
  color: var(--primary-orange);
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.section-border {
  border-style: 2px solid var(--primary-orange);
}

